<div class="app-content" ng-if="user_name">
    {{user_name}}'s stuff. <br/>
    <form action="/api/file/form" method="post" enctype="multipart/form-data">
        <!--<label for="upload_filename">Save file as:</label>-->
        <input type="text" name="filename"/> <br/>
        <!--<label for="upload_file_select">Select File:</label>-->
        <input type="file" name="file"/><br/>
        <input type="submit" value="Save File"/> <br/>
        <input type="hidden" name="user_id" value="{{user_id}}"/>
        <input type="hidden" name="access_token" value="{{access_token}}"/>
    </form>
</div>
<div class="app-content" ng-if="!user_name">
    Please login in to share
</div>
